<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>职场小助手</title>
    <!-- 标题栏icon -->
    <link rel="icon" href="static/image/nLogo.jpg" type="image/x-icon">
    <!-- 收藏夹icon -->
    <link rel="shortcut icon" href="static/image/nLogo.jpg" type="image/x-icon">
    <!-- layui -->
    <link href="static/layui/css/layui.css" rel="stylesheet">
    <script src="static/layui/layui.js"></script>
    <script src="static/js/jquery.min.js"></script>
</head>
<style>
  .layui-tab-title{border-bottom: none;}/* 重置 - 去掉下划线 */
  .layui-tab-title .layui-this{background: #FFAF09;}/* 增加背景 */
  .layui-tab-title .layui-this:after{border: none;}/* 重置 -this无边框 */
  .layui-tab-title li{display: list-item;}/* 重置 -纵向显示 */
</style>
<body style="background: #F0F0F0;">
    {% include 'head.html' %}
    <div class="layui-fluid" style="height: 90vh; overflow-y: scroll;">
      <div class="layui-tab">
        <ul class="layui-tab-title layui-col-md2">
            <li>聊天框</li>
            <li class="layui-this">单文本文件</li>
            <li>Excel批处理</li>
            <li>图片分析</li>
            <li>微调</li>
        </ul>
        <div class="layui-tab-content  layui-col-md10">
            <!-- 聊天框 -->
            <div class="layui-tab-item">
                <div class="layui-row" style="display: flex;justify-content: center; margin-top: 10px;">
                    <div class="layui-col-md10">
                        <div class="layui-panel" style="padding: 10px; font-weight: bolder;">
                            <p>配置</p>
                        </div>
                        <div class="layui-panel layui-row" style="padding: 10px;">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">模型版本&nbsp;<span style="color:red">*</span></label>
                                    <div class="layui-inline layui-form" style="width: 200px">
                                        <select id="chat_model_config">
                                            <option value="gpt-3.5-turbo-1106" selected>OPENAI-GPT3.5</option>
                                            <option value="ernie-bot">百度-文心一言3.5</option>
                                            <option value="gpt-4-1106-preview">OPENAI-GPT4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-panel layui-row" style="padding: 10px;">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label" style="width: 100px;">请输入&nbsp;<span style="color:red">*</span></label>
                                        <div class="layui-input-inline" style="width: 300px;">
                                            <textarea id="chat_input" name="" type='text' placeholder="e.g., 写个50字的笑话" class="layui-textarea"></textarea>
                                        </div>
                                    </div>
                                    <button id='chat_submit' type="button" class="layui-btn">提交</button>
                                </div>
                            </div>
                            <div class="layui-panel layui-row" style="padding: 10px;">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label" style="width: 100px;">结果区&nbsp;<span style="color:red">^.^</span></label>
                                        <div class="layui-input-inline" style="width: 600px;">
                                            <textarea id="chat_output" name="" type='text' class="layui-textarea" rows="10"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 单文本 -->
            <div class="layui-tab-item layui-show">
              <div class="layui-row" style="display: flex;justify-content: center; margin-top: 10px;">
                <div class="layui-col-md10">
                  <!-- 基础配置 -->
                  <div class="layui-col-md5">
                    <div class="layui-panel" style="padding: 10px; font-weight: bolder;">
                        <p>基础配置</p>
                    </div>
                    <div class="layui-panel layui-row" style="padding: 10px;">
                      <div class="layui-form-item">
                        <div class="layui-inline">
                          <label class="layui-form-label">模型版本&nbsp;<span style="color:red">*</span></label>
                          <div class="layui-inline layui-form" style="width: 200px">
                            <select id="content_model_config">
                              <option value="gpt-3.5-turbo-1106" selected>OPENAI-GPT3.5</option>
                              <option value="ernie-bot">百度-文心一言3.5</option>
                              <option value="kdxf-xinghuo3">科大讯飞-星火大模型V3</option>
                              <option value="gpt-4-1106-preview">OPENAI-GPT4</option>
                            </select>
                          </div>                         
                        </div>
                      </div>
                        <div class="layui-collapse">
                          <div class="layui-colla-item">
                            <h2 class="layui-colla-title">其他设置</h2>
                            <div class="layui-colla-content layui-form-item">
                              <div class="layui-inline">
                                <label class="layui-form-label">间隔时间</label>
                                <div class="layui-input-inline" style="width: 200px;">
                                  <input id="content_timesleep_config" type="text" name="" autocomplete="off" class="layui-input" value="3">
                                </div>
                              </div>
                              <div class="layui-inline">
                                <label class="layui-form-label">最大字数</label>
                                <div class="layui-input-inline" style="width: 200px;">
                                  <input id="content_maxtokens_config" type="text" name="" autocomplete="off" class="layui-input" value="300">
                                </div>
                              </div>
                              <div class="layui-inline">
                                <label class="layui-form-label">创新性</label>
                                <div class="layui-input-inline" style="width: 200px;">
                                  <input id="content_temperature_config" type="text" name="" autocomplete="off" class="layui-input" value="1">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <!-- Prompt配置 -->
                  <div class="layui-col-md6 layui-col-md-offset1">
                    <div class="layui-panel" style="padding: 10px; font-weight: bolder;">
                      <p>Prompt设置</p>
                    </div>
                    <div class="layui-panel layui-row" style="padding: 10px;">
                      <div class="layui-form-item">
                        <div class="layui-inline">
                          <label class="layui-form-label" style="width: 100px;">系统prompt&nbsp;<span style="color:red">*</span></label>
                          <div class="layui-input-inline" style="width: 300px;">
                            <textarea id="content_system_prompt" name="" type='text' placeholder="e.g., 总结文档" class="layui-textarea"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- 文件上传 -->
                  <div class="layui-col-md12" style="margin-top:10px;">
                    <div class="layui-panel" style="padding: 10px; font-weight: bolder;">
                      <p>文件上传 &nbsp;&nbsp;<span style="font-size:12px; color: red">请先填写prompt，再上传文件</span></p>
                    </div>
                    <div class="layui-upload-drag" style="display: block;" id="content-upload-drag">
                        <i class="layui-icon layui-icon-upload"></i> 
                        <div><p>点击上传，或将文件拖拽到此处</p><p>仅支持.txt、.xlsx、.py、.docx、.pdf文件</p></div>
                    </div>
                  </div>
                  <!-- 分析结果 -->
                  <div class="layui-col-md12" style="margin-top: 10px;">
                    <div class="layui-panel" style="padding: 10px; font-weight: bolder;">
                      <p>分析结果</p>
                    </div>
                    <div class="layui-panel layui-row" style="padding: 10px;">
                      <textarea id="content-result" name="" placeholder="waiting..." class="layui-textarea" rows="10"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- excel批处理 -->
            <div class="layui-tab-item">
              <div class="layui-row" style="display: flex;justify-content: center; margin-top: 10px;">
                <div class="layui-col-md12">
                  <div class="layui-col-md6 layui-col-md-offset1">
                    <!-- 基础配置 -->
                    <div class="layui-col-md12">
                      <div class="layui-panel" style="padding: 10px; font-weight: bolder;">
                          <p>基础配置</p>
                      </div>
                      <div class="layui-panel layui-row" style="padding: 10px;">
                          <div class="layui-form-item">
                            <div class="layui-inline">
                              <label class="layui-form-label">模型版本&nbsp;<span style="color:red">*</span></label>
                              <div class="layui-inline layui-form" style="width: 200px">
                                <select id="excel_model_config">
                                  <option value="gpt-3.5-turbo-1106" selected>OPENAI-GPT3.5</option>
                                  <option value="ernie-bot">百度-文心一言3.5</option>
                                  <option value="kdxf-xinghuo3">科大讯飞-星火大模型V3</option>
                                  <option value="gpt-4-1106-preview">OPENAI-GPT4</option>
                                </select>
                              </div>
                            </div>
                            <div class="layui-inline">
                              <label class="layui-form-label">处理列名&nbsp;<span style="color:red">*</span></label>
                              <div class="layui-input-inline" style="width: 200px;">
                                <input id="excel_input_column_name" type="text" name="" autocomplete="off" class="layui-input" placeholder="e.g., 商品销售名称">
                              </div>
                            </div>
                            <div class="layui-inline">
                              <label class="layui-form-label">输出列名&nbsp;<span style="color:red">*</span></label>
                              <div class="layui-input-inline" style="width: 200px;">
                                <input id="excel_output_column_name" type="text" name="" autocomplete="off" class="layui-input" placeholder="e.g., GPT处理">
                              </div>
                            </div>
                          </div>
                          <div class="layui-collapse">
                            <div class="layui-colla-item">
                              <h2 class="layui-colla-title">其他设置</h2>
                              <div class="layui-colla-content layui-form-item">
                                <div class="layui-inline">
                                  <label class="layui-form-label">间隔时间</label>
                                  <div class="layui-input-inline" style="width: 200px;">
                                    <input id="excel_timesleep_config" type="text" name="" autocomplete="off" class="layui-input" value="3">
                                  </div>
                                </div>
                                <div class="layui-inline">
                                  <label class="layui-form-label">最大字数</label>
                                  <div class="layui-input-inline" style="width: 200px;">
                                    <input id="excel_maxtokens_config" type="text" name="" autocomplete="off" class="layui-input" value="300">
                                  </div>
                                </div>
                                <div class="layui-inline">
                                  <label class="layui-form-label">创新性</label>
                                  <div class="layui-input-inline" style="width: 200px;">
                                    <input id="excel_temperature_config" type="text" name="" autocomplete="off" class="layui-input" value="1">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <!-- Prompt配置 -->
                    <div class="layui-col-md12" style="margin-top: 10px;">
                      <div class="layui-panel" style="padding: 10px; font-weight: bolder;">
                        <p>Prompt设置</p>
                      </div>
                      <div class="layui-panel layui-row" style="padding: 10px;">
                        <div class="layui-form-item">
                          <div class="layui-inline">
                            <label class="layui-form-label" style='width: 100px;'>系统prompt&nbsp;<span style="color:red">*</span></label>
                            <div class="layui-input-inline" style="width: 300px;">
                              <textarea id="excel_system_prompt" name="" type='text' placeholder="e.g., 结果输出不超过10个词，且不出现'搜索词'和'关键词'字样，并将所有词都用；连接成一行" class="layui-textarea"></textarea>
                            </div>
                          </div>
                          <div class="layui-inline">
                            <label class="layui-form-label" style='width: 100px;'>用户prompt&nbsp;<span style="color:red">*</span></label>
                            <div class="layui-input-inline" style="width: 300px;">
                              <textarea id="excel_user_prompt" name="" type='text' placeholder="e.g., 请帮我提取商品中4个关键词，并扩展5个极有可能能够搜索到该商品的搜索词" class="layui-textarea"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="layui-collapse">
                          <div class="layui-colla-item">
                            <h2 class="layui-colla-title">高级设置</h2>
                            <div class="layui-colla-content layui-form-item">
                              <div class="layui-inline">
                                <label class="layui-form-label">样例-用户</label>
                                <div class="layui-input-inline" style="width: 300px;">
                                  <textarea id="excel_ex_user_prompt" name="" type='text' placeholder="请输入" class="layui-textarea"></textarea>
                                </div>
                              </div>
                              <div class="layui-inline">
                                <label class="layui-form-label">样例-助手</label>
                                <div class="layui-input-inline" style="width: 300px;">
                                  <textarea id="excel_ex_assistant_prompt" name="" type='text' placeholder="请输入" class="layui-textarea"></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="layui-col-md4" style="margin-left: 10px;">
                    <!-- 文件上传 -->
                    <div class="layui-col-md12">
                      <div class="layui-panel" style="padding: 10px; font-weight: bolder;">
                        <p>文件上传&nbsp;&nbsp;<span style="font-size:12px; color: red">请先填写配置和prompt，再上传文件</span></p>
                      </div>
                      <div class="layui-upload-drag" style="display: block;" id="excel-upload-drag">
                          <i class="layui-icon layui-icon-upload"></i> 
                          <div><p>点击上传，或将文件拖拽到此处</p><p>仅支持.xlsx文件</p></div>
                      </div>
                    </div>
                    <!-- 文件列表 -->
                    <div class="layui-col-md12" style="margin-top: 10px;">
                      <div class="layui-panel" style="padding: 10px; font-weight: bolder;">
                        <p>文件列表</p>
                      </div>
                      <div class="layui-panel layui-row" style="padding: 10px;">
                        <table class="layui-table" lay-skin="nob">
                            <thead>
                              <tr>
                                <th>文件</th>
                                <th>状态</th>
                                <th>操作</th>
                              </tr> 
                            </thead>
                            {% for file in uploaded_excels %}
                                <tbody>
                                    <td>{{ file.1 }}</td>
                                    <td>{{ file.2 }}</td>
                                    {% if file.2 == 'unfinished' %}
                                        <td><a href="#" onclick="delete_excel('{{file.0}}')">删除</a></td>
                                    {% else %}
                                        <td><a href="{% url 'download_excel' file.0 %}">下载</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="delete_excel('{{file.0}}')">删除</a></td>
                                    {% endif %}               
                                </tbody>
                            {% endfor %}
                          </table>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 图片分析 -->
            <div class="layui-tab-item">
                <div class="layui-row" style="display: flex;justify-content: center; margin-top: 10px;">
                    <div class="layui-col-md10">
                        <!-- 基础配置 -->
                        <div class="layui-col-md5">
                            <div class="layui-panel" style="padding: 10px; font-weight: bolder;">
                                <p>基础配置</p>
                            </div>
                            <div class="layui-panel layui-row" style="padding: 10px;">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">模型版本&nbsp;<span style="color:red">*</span></label>
                                        <div class="layui-inline layui-form" style="width: 200px">
                                            <select id="figure_model_config">
                                                <option value="gpt-4-vision-preview" selected>OPENAI-GPT4</option>
                                                <option value="kdxf-xinghuo3">科大讯飞-星火大模型V3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-collapse">
                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title">其他设置</h2>
                                        <div class="layui-colla-content layui-form-item">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">间隔时间</label>
                                                <div class="layui-input-inline" style="width: 200px;">
                                                    <input id="figure_timesleep_config" type="text" name="" autocomplete="off" class="layui-input" value="3">
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">最大字数</label>
                                                <div class="layui-input-inline" style="width: 200px;">
                                                    <input id="figure_maxtokens_config" type="text" name="" autocomplete="off" class="layui-input" value="300">
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">创新性</label>
                                                <div class="layui-input-inline" style="width: 200px;">
                                                    <input id="figure_temperature_config" type="text" name="" autocomplete="off" class="layui-input" value="1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Prompt配置 -->
                        <div class="layui-col-md6 layui-col-md-offset1">
                            <div class="layui-panel" style="padding: 10px; font-weight: bolder;">
                                <p>Prompt设置</p>
                            </div>
                            <div class="layui-panel layui-row" style="padding: 10px;">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label" style="width: 100px;">系统prompt&nbsp;<span style="color:red">*</span></label>
                                        <div class="layui-input-inline" style="width: 300px;">
                                            <textarea id="figure_system_prompt" name="" type='text' placeholder="e.g., 识别图片中这个商品是否有条形码" class="layui-textarea"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 文件上传 -->
                        <div class="layui-col-md5" style="margin-top:10px;">
                            <div class="layui-panel" style="padding: 10px; font-weight: bolder;">
                                <p>文件上传 &nbsp;&nbsp;<span style="font-size:12px; color: red">请先填写prompt，再上传文件</span></p>
                            </div>
                            <div class="layui-upload-drag" style="display: block;" id="figure-upload-drag">
                                <i class="layui-icon layui-icon-upload"></i>
                                <div><p>点击上传，或将文件拖拽到此处</p><p>仅支持.png、.jpg文件</p></div>
                            </div>
                        </div>
                        <div class="layui-col-md6 layui-col-lg-offset1" style="margin-top:10px;">
                            <div class="layui-panel" style="padding: 10px; font-weight: bolder;">
                                <p>预览区</p>
                            </div>
                            <div class="layui-upload-drag" style="display: block;">
                                <div id="uploadFigureView">
                                    <img src="" alt="" style="max-width: 196px">
                                </div>
                            </div>
                        </div>
                        <!-- 分析结果 -->
                        <div class="layui-col-md12" style="margin-top: 10px;">
                            <div class="layui-panel" style="padding: 10px; font-weight: bolder;">
                                <p>分析结果</p>
                            </div>
                            <div class="layui-panel layui-row" style="padding: 10px;">
                                <textarea id="figure-result" name="" placeholder="waiting..." class="layui-textarea" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 微调 -->
            <div class="layui-tab-item">未完待续...</div>
        </div>
      </div>
    </div>  

    <script>
        layui.use('element', function(){
        var upload = layui.upload;
        var $ = layui.$;
        var load = null;
        // 渲染

        // chat
        $('#chat_submit').click(function () {
            // clear
            $('#chat_output').val('start...\r\n')
            fetch('stream_chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    model_config: $('#chat_model_config').val(),
                    input_text: $('#chat_input').val()
                }),
            }).then(function (response) {
                // 确保响应状态码正常
                if (!response.ok) {
                    console.log(response)
                    layer.msg('系统异常');
                } else {
                    // 使用响应的ReadableStream来处理数据
                    var reader = response.body.getReader();
                    function read() {
                        return reader.read().then(function (result) {
                            // 处理读取到的数据
                            if (!result.done) {
                                var value = result.value;
                                // 在这里处理接收到的数据，例如更新页面上的内容
                                var decoder = new TextDecoder('utf-8')
                                var chunk = decoder.decode(value)
                                var currentContent = $('#chat_output').val();
                                $('#chat_output').val(currentContent + chunk);
                                // 继续读取下一块数据
                                return read();
                            }
                        });
                    }
                    return read();
                }
            }).catch(function (error) {
                // 处理错误
            });
        });

        // content
        var content_uploader = upload.render({
          elem: '#content-upload-drag',
          accept: 'file',
          url: 'upload_content',
          data: {
            csrfmiddlewaretoken: "{{ csrf_token}}",
            // 动态获取值
            timesleep_config:function(){ return $('#content_timesleep_config').val()},
            maxtokens_config:function(){ return $('#content_maxtokens_config').val()},
            temperature_config:function(){ return $('#content_temperature_config').val()},
            model_config:function(){ return $('#content_model_config').val()},
            system_prompt:function(){ return $('#content_system_prompt').val()}
          },
          before: function(obj){
            load = layer.load();
          },
          done: function(res){
            layer.close(load);
            if (res.status=='error') {
              layer.msg(res.message);
            } else {
              layer.msg('上传成功，开始分析');
              // 上传完成后，开始流式处理
                $('#content-result').val('文件名: '+res.data.file_name + '\r\n分析: \r\n')
                fetch('stream_content', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                      timesleep_config: $('#content_timesleep_config').val(),
                      maxtokens_config: $('#content_maxtokens_config').val(),
                      temperature_config: $('#content_temperature_config').val(),
                      model_config: $('#content_model_config').val(),
                      system_prompt: $('#content_system_prompt').val(),
                      file_name: res.data.file_name
                  }),
              }).then(function (response) {
                // 确保响应状态码正常
                if (!response.ok) {
                    console.log(response)
                    layer.msg('系统异常');
                }else{
                    // 使用响应的ReadableStream来处理数据
                    var reader = response.body.getReader();
                    function read() {
                        return reader.read().then(function (result) {
                            // 处理读取到的数据
                            if (!result.done) {
                                var value = result.value;
                                // 在这里处理接收到的数据，例如更新页面上的内容
                                var decoder = new TextDecoder('utf-8')
                                var chunk = decoder.decode(value)
                                // 页面显示
                                var currentContent = $('#content-result').val();
                                $('#content-result').val(currentContent + chunk);
                                // 继续读取下一块数据
                                return read();
                            }
                            layer.msg('处理完成!')
                        });
                    }
                    return read();
                }

              }).catch(function (error) {
                  // 处理错误
                  console.log(error)
              });
            }
          },
          error: function(res){
            layer.close(load);
            layer.msg('网络异常');
          }
        });

        // excel 
        var excel_uploader = upload.render({
          elem: '#excel-upload-drag',
          accept: 'file',
          url: 'upload_excel',
          data: {
            csrfmiddlewaretoken: "{{ csrf_token}}",
            input_column_name: function(){ return $('#excel_input_column_name').val()},
            output_column_name:function(){ return $('#excel_output_column_name').val()},
            timesleep_config:function(){ return $('#excel_timesleep_config').val()},
            maxtokens_config:function(){ return $('#excel_maxtokens_config').val()},
            temperature_config:function(){ return $('#excel_temperature_config').val()},
            model_config:function(){ return $('#excel_model_config').val()},
            system_prompt:function(){ return $('#excel_system_prompt').val()},
            user_prompt:function(){ return $('#excel_user_prompt').val()},
            ex_user_prompt:function(){ return $('#excel_ex_user_prompt').val()},
            ex_assistant_prompt:function(){ return $('#excel_ex_assistant_prompt').val()}
          },
          before: function(obj){
            load = layer.load();
          },
          done: function(res){
            layer.close(load);
            if (res.status=='error') {
              layer.msg(res.message);
            } else {
              layer.msg('上传成功');
              window.location.href = "{% url 'console' %}";
            }
          },
          error: function(res){
            layer.close(load);
            layer.msg('网络异常');
          }
        });

        // figure
        var figure_uploader = upload.render({
            elem: '#figure-upload-drag',
            accept: 'file',
            url: 'upload_and_process_figure',
            data: {
                csrfmiddlewaretoken: "{{ csrf_token}}",
                // 动态获取值
                timesleep_config:function(){ return $('#figure_timesleep_config').val()},
                maxtokens_config:function(){ return $('#figure_maxtokens_config').val()},
                temperature_config:function(){ return $('#figure_temperature_config').val()},
                model_config:function(){ return $('#figure_model_config').val()},
                system_prompt:function(){ return $('#figure_system_prompt').val()}
            },
            before: function(obj){
                obj.preview(function(index, file, result){
                    $('#uploadFigureView').find('img').attr('src', result); //图片链接（base64）
                });
                load = layer.load();
            },
            done: function(res){
                layer.close(load);
                if (res.status=='error') {
                    layer.msg(res.message);
                } else {
                    $('#figure-result').val('文件名: ' + res.data.file_name + '\r\n分析: \r\n' + res.data.result)
                    layer.msg('分析完成');
                }
            },
            error: function(res){
                layer.close(load);
                layer.msg('网络异常');
            }
        });

      });

      function delete_excel(file_name){
        $.ajax({
          type: 'POST',
          url: 'delete_excel',
          data: {
            csrfmiddlewaretoken: "{{ csrf_token}}",
            file_name: file_name
          },
          success: function(res){
            if (res=='error') {
              layer.msg('内部异常');
            } else {
              layer.msg('删除成功');
              window.location.href = "{% url 'console' %}";
            }
          }
        })


      }
    </script>
</body>
</html>
