<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>职场小助手</title>
    <!-- 标题栏icon -->
    <link rel="icon" href="static/image/nLogo.jpg" type="image/x-icon">
    <!-- 收藏夹icon -->
    <link rel="shortcut icon" href="static/image/nLogo.jpg" type="image/x-icon">
    <!-- layui -->
    <link href="static/layui/css/layui.css" rel="stylesheet">
    <script src="static/layui/layui.js"></script>
    <script src="static/js/jquery.min.js"></script>
</head>
<body style="background: #F0F0F0;">
    {% include 'head.html' %}
    <div class="layui-fluid" style="height: 90vh; overflow-y: scroll;">
        <div class="layui-row" style="display: flex;justify-content: center; margin-top: 10px;">
            <div class="layui-col-md6">
                <div class="layui-upload-drag" style="display: block;" id="ID-upload-demo-drag">
                    <i class="layui-icon layui-icon-upload"></i> 
                    <div>点击上传，或将文件拖拽到此处</div>
                </div>
            </div>
        </div>
        <div class="layui-row" style="display: flex;justify-content: center; margin-top: 10px;">
            <div class="layui-col-md6">
                <table class="layui-table" lay-skin="nob">
                    <thead>
                      <tr>
                        <th>文件</th>
                        <th>状态</th>
                        <th>操作</th>
                      </tr> 
                    </thead>
                    {% for file in uploaded_files %}
                        <tbody>
                            <td>{{ file.1 }}</td>
                            <td>{{ file.2 }}</td>
                            {% if file.2 == 'unfinished' %}
                                <td>-</td>
                            {% else %}
                                <td><a href="{% url 'download_excel' file.0 %}">下载</a></td>
                            {% endif %}               
                        </tbody>
                    {% endfor %}
                  </table>
            </div>
        </div>
    </div>

    <script>
        layui.use(function(){
        var upload = layui.upload;
        var $ = layui.$;
        var load = null;
        // 渲染
        upload.render({
          elem: '#ID-upload-demo-drag',
          accept: 'file',
          url: 'upload_excel',
          data: {
            csrfmiddlewaretoken: "{{ csrf_token}}"
          },
          before: function(obj){
            load = layer.load();
          },
          done: function(res){
            layer.close(load);
            layer.msg('上传成功');
            window.location.href = "{% url 'upload_excel' %}";
          }
        });
      });
    </script>
</body>
</html>
